This is a page dedicated to this gallery:


<%= @gallery.name %>
<%= @gallery.description %>
<%= @gallery.address %>
<%= @gallery.opening_hour %>
<%= @gallery.closing_hour %>

See exhibitions on at this gallery by click <a href="/galleries/<%= @gallery.id %>/exhibitions"><strong>here</strong></a>
